@font-face {
    font-family: myFont;
    src: url(fonts/OldLondon.ttf);
}


html {
  scroll-behavior: smooth;
}


body {
    font-family: myFont;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to top, rgb(18, 17, 17), rgb(36, 36, 36));
    color: #fff;
    
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;



}
.slideshow-container {
	position: relative;
	max-width: 100%;
	margin: auto;
	overflow: hidden; 
}

.mySlides {
	display: none;
	width: 100%; 
}

.mySlides img {
	width: 100%; 
	height: auto; 
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 3.5s;
	animation-name: fade;
	animation-duration: 3.5s;
}

@-webkit-keyframes fade {
	from {opacity: 0} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
.navbar a {
    color: rgb(255, 255, 255); 
    display: inline-block;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #515151; 
}



.navbar ul li {
    margin: 15px;
}

.navbar ul li a {
    color: #fff;
}

.head  {
    text-align: center;
}

hr {
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    border-top: solid 2px;
}

.pic img {
    height: auto;
    width: 100%;

}

.row {
    display: flex;
    flex-wrap: wrap;
    border-color: antiquewhite;
    justify-content: center;
    align-items: stretch; 
  }
  
  .column {
    flex: 1;
    text-align: center;
    border-color: antiquewhite;
    box-sizing: border-box;
    margin-bottom: 60px;
    
  }




  .column img {

    max-width: 47%;
    height: auto;
    border-radius:20px ;
    border-style: groove;
    border-color: #070707;
    border-color: #fff;
    

  }

  h1 {
    text-align: center;
    font-size: 80px;
    margin: 30px;
    padding: 10px;
  }


     
    
    .column {
        flex: 1 0 50%; 
        text-align: center;
        margin-top: 20px;
    }

    .column p {
        font-size: 27px;
        margin-bottom: 20px;
        font-family: monospace;

        
        
    }

    .text {

        margin-left: 90px;
        margin-right: 100px;
        border-radius: 30px;
        border-style: groove;
        margin-bottom: 52px;


 


        padding: 20px;
        flex: 1;


    }

    .image {
        border-radius: 30px;
        margin-left: 90px;
    }
    
    .info {
        font-size: 25px;
        text-align: center;
        padding: 20px;
        
    }

    .icons {
        text-align: center;
        font-size: 35px;
        margin-bottom: 15px;
 
    }

    .icons a {
        text-decoration: none; 
        margin: 5px;
    }

    .row_services {
        display: flex;
        flex-wrap: wrap;
        border-color: antiquewhite;
        justify-content: center;
        align-items: stretch; 
        margin: 40px;
        margin-top: 60px;

    }

    .column_services h1 {
        font-size: 65px;
        text-decoration: azure;
        margin-bottom: 30px;


    }

 

    .column_services {

        flex: 1;
        text-align: center;
        margin: 50px;
        box-sizing: border-box;
        padding: 60px;
        border-radius: 20px;
        border-style: groove;
        margin-top: 0px;

        
    
    }
 
    .column_services ul {
        text-align: left;
        font-family: monospace;
        border-radius: 20px;

    }
    
    .column_services li {
        margin-bottom: 30px;
        padding: 20px;
        font-size: 30px;

    }

    .column_services hr {

        margin-bottom: 30px;

    }

    .formcarry-container * {
        box-sizing: border-box;
          font-family: "Inter", sans-serif;
      
        /* colors */
        --color-blue: #2552d0;
        --color-light-blue: #3266e3;
        --color-gray: #e5e7eb;
        --color-dark-gray: #9da3ae;
        --color-pink: #edadd2;
        margin-top: 0px;
      }
      
      .formcarry-container {
        /* container */
        --c-width: 50%;
        --c-max-width: 500px;
      
        width: var(--c-width);
        max-width: var(--c-max-width);
        display: block;
        margin: 10vh auto 0 auto;
        margin-top: 0px;

      }
      
      .formcarry-form label {
        display: block;
        padding: 12px 0 2px 0;
        letter-spacing: -0.2px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
      }
      
      .formcarry-form input,
      .formcarry-form textarea {
        font-size: 16px;
        display: block;
        width: 100%;
        padding: 10px;
        background-color: var(--color-gray);
        border: none;
        border: 4px solid var(--color-gray);
        outline: none;
        border-radius: 8px;
        color: var(--color-dark-gray);
      }

      #contact p{
        margin-top: 10px;
        font-family: monospace;
        text-align: center;
        margin-left: 500px;
        margin-right: 500px;
        font-size: larger;

      }
      
      .formcarry-form input:focus,
      .formcarry-form textarea:focus {
        background-color: #fff;
        color: var(--color-dark-gray);jreno425@gmail.com
      }
      
      .formcarry-form input:focus:required:invalid {
        border-color: var(--color-pink);
        background-color: #fff;
      }
      
      .formcarry-form button {
        display: block;
        margin-top: 12px;
        width: 100%;
        padding: 12px 20px;
        border-radius: 8px;
          border-color: transparent;
        background-color: var(--color-blue);
        color: #fff;
        font-weight: 700;
        font-size: 18px;
      
        transition: 300ms all;
        margin-bottom: 30px;
      }
      
      .formcarry-form button:hover {
        background-color: var(--color-light-blue);
      }
      
      .formcarry-alert {
        padding: 12px;
        border-radius: 10px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        margin-top: 12px;
        display: none;
      }
      
      .formcarry-alert.visible {
        display: block;
      }
      
      .formcarry-alert.success {
        background: #69cf9d;
      }
      
      .formcarry-alert.error {
        background: #de524c;
      }





@media (max-width: 768px) {

    hr {
        border: none;
        border-top: 2px solid #dcdcdc;
        margin: 0;
        padding: 0;
      }

    .navbar ul {
    font-size: 15px;
    margin: 0px;
    }

    .head img{
        width: 300px;
        padding-left: 30px;
    }

    .column p {
        font-size: 12px;
        margin-bottom: 0px;
        padding: 20px;
    }

    .column {
        margin: 20px;
        margin-bottom: 100;
        
    }
    
    .text {
        
        padding: 5px;
        margin: 20px;
        font-size: 12px;
    }

    .text p{

    margin: 20px; 
    padding: 0px;    
    
    }


   
    .column img {
        max-width: 100%;
        margin: 0px;
        border-radius: 20px;
        border-style: groove;
        
    }

    .image {
        margin: 20px;
        padding: 0px;
        border-radius: 20px;
        border-style: none;
        flex: 1;
    }

    .info {
        font-size: medium;
        padding: 12px;
    }

    .icons a {
        margin: 0.5px;
        font-size: 30px;
    }


    .row_services {
        display: flex;
        flex-wrap: wrap;
        border-color: antiquewhite;
        justify-content: center;
        align-items: stretch; 
        margin: 20px;
        margin-top: 0px;

    }

    .column_services h1 {
        font-size: 35px;
        text-decoration: azure;
        margin-bottom: 20px;
        margin-top: 0px;


    }

 

    .column_services {

        flex: 1;
        text-align: center;
        margin: 10px;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 20px;
        border-style: groove;
        margin-bottom: 60px;

        
    
    }
 
    .column_services ul {
        text-align: left;
        font-family: monospace;
        border-radius: 20px;

    }
    
    .column_services li {
        margin-bottom: 10px;
        font-size: 12px;
        margin-top: 0px;

    }

    .column_services hr {

        margin-bottom: 0px;
    }

    #contact p{
        margin-top: 50px;
        margin-bottom: 0px;
        font-family: monospace;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        font-size: smaller;
        padding: 30px;


      }





    
}