img, hr {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}


@font-face {
    font-family: myFont;
    src: url(fonts/OldLondon.ttf);
}


html {
  scroll-behavior: smooth;
}


body {
    font-family: myFont;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to top, rgb(18, 17, 17), rgb(36, 36, 36));
    color: #fff;
    
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;



}
.slideshow-container {
	position: relative;
	max-width: 100%;
	margin: auto;
	overflow: hidden; 
}

.mySlides {
	display: none;
	width: 100%; 
}

.mySlides img {
	width: 100%; 
	height: auto; 
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 5.5s;
	animation-name: fade;
	animation-duration: 5.5s;
}

@-webkit-keyframes fade {
	from {opacity: 0.2} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: 0.2} 
	to {opacity: 1}
}

.navbar a {
    color: rgb(255, 255, 255); 
    display: inline-block;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #515151; 
}



.navbar ul li {
    margin: 15px;
}

.navbar ul li a {
    color: #fff;
}

.head img{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


hr {
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    border-top: solid 2px;
}

.bio-box {

}

.bio-box img{
  width: 100%;
  height: auto;
  

}



.row {
    display: flex;
    flex-wrap: wrap;
    border-color: antiquewhite;
    justify-content: center;
    align-items: stretch; 
  }
  
  .column {
    flex: 1;
    box-sizing: border-box;
    padding: 90px;
  }




  .column img {

    width: 100%;
    height: auto;
    border-radius:20px ;
    border-style: groove;
    border-color: #fff;
    

  }

  h1 {
    text-align: center;
    font-size: 80px;
    margin: 30px;
    padding: 10px;
  }


    
    .column {
        flex: 1 0 50%; 
        text-align: center;
        
    }

    .column p {
        font-size: 27px;
        margin-bottom: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;

    }




    .column-bio {
      border-style: groove;
      border-radius: 20px;
      padding: 20px;
    }
    .text {
      margin-left: 100px;
      margin-right: 100px;
      border-style: groove;
      border-radius: 20px;
    }

    .text p {
      padding: 20px;
      margin: 0px;
    }
  
 
    
    .info {
        font-size: 25px;
        text-align: center;
        padding: 20px;
        
    }

    .icons {
        text-align: center;
        font-size: 35px;
        margin-bottom: 15px;
 
    }

    .icons a {
        text-decoration: none; 
        margin: 5px;
    }

    .row_services {
        display: flex;
        flex-wrap: wrap;
        border-color: antiquewhite;
        justify-content: center;
        align-items: stretch; 
        margin: 40px;
        margin-top: 60px;

    }

    .column_services h1 {
        font-size: 65px;
        text-decoration: azure;
        margin-bottom: 30px;
        margin-top: 0px;



    }

 

    .column_services {
      margin-top: 0px;

        flex: 1;
        text-align: center;
        margin: 50px;
        box-sizing: border-box;
        padding: 60px;
        border-radius: 20px;
        border-style: groove;
        margin-top: 0px;

        
    
    }
 
    .column_services ul {
        text-align: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-radius: 20px;



    }
    
    .column_services li {
        margin-bottom: 10px;
        padding: 20px;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 30px;


        
    }

    .column_services hr {

        margin-bottom: 30px;

    }

    .faq h1 {
      font-family: myFont;
      margin-top: 0px;
    }
 
    .faq {
      margin: 90px;
      
    }

    .faq hr{
      margin-top: 50px;
      margin-bottom: 50px;

    }


    .faq ul {
      text-align: left;
      font-family: Georgia, 'Times New Roman', Times, serif;
      line-height: 25px;


  }
  
  .faq li {
      margin-bottom: 10px;
      font-size: 18px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      line-height: 25px;

      


      
  }
    .faq li {
      margin-bottom: 50px;

      
    }
 
    .faq ul {
      font-family: Georgia, 'Times New Roman', Times, serif;

      margin-top: 50px;
      margin-bottom: 50px;
      border-radius: 20px;
      border-style: groove;
      padding: 50px;
    }
    #contact h1{
      margin-bottom: 50px;
    }


      .contact_text{
        text-align: center;
        margin-left: 700px;
        margin-right: 700px;
        margin-bottom: 50px;
        border-radius: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:larger;

        .image-container {
          position: relative;
          display: inline-block;
      }
      
      .image-container img {
          width: 100%;
          display: block;
      }
      
      .content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.7); 
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          opacity: 0;
          transition: opacity 0.6s;
      }
      
      .image-container:hover .content {
          opacity: 1;
      }

      }



      .contact-form {
        margin-left: 500px;
        margin-right: 500px;
        align-items: center;
      }

      .contact-form input {
        width: 95.5%;
        padding-bottom: 50px ;
        margin-bottom: 30px;
        border-radius: 20px;
        border-style: groove;
        border-color: #fff;
        background-color: #1a1a1a;
        padding: 20px;
        color: #fff;



        
      }

      .contact-form textarea {
        width: 95.5%;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 20px;
        border-style: groove;
        border-color: #fff;
        background-color: #1a1a1a;
        color: #fff;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding:20px;
        height: 300px;

      }


      .contact-form button {
        width: 25%;
        margin:auto;
        display: block;
        border-radius: 20px;
        border-style: groove;
        border-color: #fff;
        background-color: #1a1a1a;
        color: #fff;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .box {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 60px;
      margin-left: 100px;
      margin-right: 100px;

    }
    
    .box > div {
      flex: 1 1 25%;
      box-sizing: border-box; 
    }

    .one {
      margin: 50px;
      position: relative;
      border-style: groove;
      text-align: center;
      color: #fff;

    }
    .one {
      position: relative;
      width: 50%;
    }
    
    .image {
      display: block;
      width: 100%;
      height: auto;
    }
    


    .one img {
      width: 100%;
      height: auto; 
    }


.port-c {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #030303;
}

  .one:hover .port-c {
    opacity: 0.85;
  }

  .pic-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .bio-box img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.bio-box.active .overlay {
  opacity: 0.8;
  pointer-events: auto; /* Enable pointer events when active */
}


  .bio-box {
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    transition: .5s ease;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    pointer-events: none; 
}

.overlay p {
  margin-top: 50px;
  text-align: center;
  width: 100%;

}

.text-ha {
  align-items: left;
  padding: 100px;
}




    .container {
     display: flex;
     flex-wrap: wrap;
     margin-left: 70px;
     margin-right: 70px;
     margin-bottom: 30px;
     

    }

    .new {
      border-style: groove;
      margin: 30px;
      font-size: 27px;
      font-family: 'Times New Roman', Times, serif;
      padding: 40px;
      border-radius: 20px;


    }
    





@media (max-width: 768px) {

  .bio-box {
    align-self: auto;


  }
  .text-ha {
    padding: 30px;
  }


  .overlay p {
    font-size: large;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;


    
  }
  .faq hr{
    margin-top: 0px;
    margin-bottom: 30px;

  }

  .container {
    margin: 30px;
  }

  .new {
    margin: 0px;
    padding:20px;
    font-size: medium;
    margin-bottom: 30px;
    line-height: 25px;
  }

    hr {
        border: none;
        border-top: 2px solid #dcdcdc;
        margin: 0;
        padding: 0;
      }

    .navbar ul {
    font-size: 15px;
    margin: 0px;
    }

    .head img{
        width: 300px;
        padding-left: 30px;
    }

    .column p {
        font-size: 12px;
        margin-bottom: 0px;
        padding: 20px;
        line-height: 25px;
    }

    .column {
        margin: 20px;
        margin-bottom: 0px;
        padding: 20px;

    }
    .faq ul {
      text-align: center;
    }
    .text {
        
        padding: 5px;
        margin: 20px;
        font-size: medium;
    }

    .one {
      margin: 20px;
    }

    .box{
      margin: 20px;
    }

    .text p{

    margin: 20px; 
    padding: 0px;    
    
    }
    

 

    .column-bio {
      padding: 0px;
      line-height: 25px;

      margin-bottom: 40px;
    }

    .column-bio p{
      padding-top: 4px;
      padding-bottom: 4px;
      line-height: normal;
      line-height: 20px;

    }
   
    .column img {
        max-width: 100%;
        margin: 0px;
        border-radius: 20px;
        border-style: groove;
        
    }

    .image {
        margin: 20px;
        padding: 0px;
        border-radius: 20px;
        border-style: none;
        flex: 1;
    }

    .info {
        font-size: medium;
        padding: 12px;
    }

    .icons a {
        margin: 0.5px;
        font-size: 30px;
    }


    .row_services {
        display: flex;
        flex-wrap: wrap;
        border-color: antiquewhite;
        justify-content: center;
        align-items: stretch; 
        margin: 20px;
        margin-top: 0px;

    }

    .faq {
      margin: 30px;
      padding: 0px;
      text-align: left;
    }

    .faq h1 {
      font-size: 35px;
      
    }

    .faq ul, li {
      text-align: left;
    }



    .column_services h1 {
        font-size: 35px;
        text-decoration: azure;
        margin-bottom: 20px;
        line-height: 30px;
        margin-top: 0px;


    }

 

    .column_services {

        flex: 1;
        text-align: center;
        margin: 10px;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 20px;
        border-style: groove;
        margin-bottom: 60px;


        
    
    }
 
    .column_services ul {
        text-align: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-radius: 20px;
        padding: 10px;
        text-align: left;
        padding-left: 30px; /* Removes left padding */

    }
    
    .column_services li {
        margin-bottom: 0px;
        font-size: larger;
        margin-top: 0px;
        text-align: left;
        


    }

    .column_services hr {

        margin-bottom: 0px;
    }

    .contact_text {
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 0px;
      margin-top: 0px;

      font-size: 12px;
      }



      .contact-form {
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;
        margin: 0px;
        padding: 20px;
      }

      .contact-form input {
        width: 90.5%;
        padding-bottom: 0px ;
        margin-bottom: 0px;
        border-radius: 20px;
        padding-bottom: 20px;
        padding: 13px;



        
      }

      .contact-form textarea {
        width: 90%;

        margin-top: 30px;
        margin-bottom: 0px;
        border-radius: 20px;
        border-style: groove;
        border-color: #fff;
        background-color: #1a1a1a;
        color: #fff;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 15px;

      }


      .contact-form button {
        width: 25%;
        margin:auto;
        display: block;
        border-radius: 20px;
        border-style: groove;
        border-color: #fff;
        background-color: #1a1a1a;
        color: #fff;
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .pic-text {
      font-size: small;
      color: #fff;
    }



    
}