@font-face {
    font-family: myFont;
    src: url(fonts/OldLondon.ttf);
}
html {
  scroll-behavior: smooth;
}


body {
    font-family: myFont;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to top, rgb(18, 17, 17), rgb(36, 36, 36));
    color: #fff;
    
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;



}
.navbar a {
    color: rgb(255, 255, 255); 
    display: inline-block;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #515151; 
}



.navbar ul li {
    margin: 15px;
}

.navbar ul li a {
    color: #fff;
}

.head  {
    text-align: center;
}

hr {
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}

.pic img {
    height: auto;
    width: 100%;

}

.row {
    display: flex;
    flex-wrap: wrap;
    border-color: antiquewhite;
    justify-content: center; /* Center the content horizontally */
  }
  
  .column {
    flex: 1;
    text-align: center;
    border-color: antiquewhite;
    margin-left: 160px;
    margin-right: 160px;
    box-sizing: border-box;
  }

  .column img {

    max-width: 65%;
    height: auto;
    border-radius: 20px ;
    border-style: groove;


  }

  h1 {
    text-align: center;
    font-size: 80px;
  }

  .column p {
    font-size: 45px;
    margin-bottom: 20px;
  }



@media (max-width: 768px) {

    hr {
        border: none;
        border-top: 2px solid #dcdcdc;
        margin: 0;
        padding: 0;
      }

    .navbar ul {
    font-size: 15px;
    margin: 0px;
    }

    .head img{
        width: 300px;
    }

    .pic img {    
        
        width: 100%;
        height: auto;
    }
    .column {
        flex: 1 0 50%; /* Each column will take up 50% width */
        text-align: center;
    }

    .column p {
        font-size: 14px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    

}